<div class="container">
  <header>
    <h1>Tic tac toe</h1>
  </header>
  <div id="game-board">
    <div class="board-line">
      <div class="board-block"></div>
      <div class="board-block"></div>
      <div class="board-block"></div>
    </div>
    <div class="board-line">
      <div class="board-block"></div>
      <div class="board-block"></div>
      <div class="board-block"></div>
    </div>
    <div class="board-line">
      <div class="board-block"></div>
      <div class="board-block"></div>
      <div class="board-block"></div>
    </div>
  </div>
</div>