<div class="container">
  <header>
    <h1>Tic tac toe</h1>
  </header>
  <div id="game-board">
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block1)"><span class="symbol-game" #block1></span></div>
      <div class="board-block" (click)="showSymbolGame(block2)"><span class="symbol-game" #block2></span></div>
      <div class="board-block" (click)="showSymbolGame(block3)"><span class="symbol-game" #block3></span></div>
    </div>
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block4)"><span class="symbol-game" #block4></span></div>
      <div class="board-block" (click)="showSymbolGame(block5)"><span class="symbol-game" #block5></span></div>
      <div class="board-block" (click)="showSymbolGame(block6)"><span class="symbol-game" #block6></span></div>
    </div>
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block7)"><span class="symbol-game" #block7></span></div>
      <div class="board-block" (click)="showSymbolGame(block8)"><span class="symbol-game" #block8></span></div>
      <div class="board-block" (click)="showSymbolGame(block9)"><span class="symbol-game" #block9></span></div>
    </div>
  </div>
</div>