<div class="container">
  <header>
    <h1>Tic tac toe</h1>
  </header>
  <div id="game-board">
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block1, 'block1', finalMessage, restartBtn)"><span class="symbol-game" #block1></span></div>
      <div class="board-block" (click)="showSymbolGame(block2, 'block2', finalMessage, restartBtn)"><span class="symbol-game" #block2></span></div>
      <div class="board-block" (click)="showSymbolGame(block3, 'block3', finalMessage, restartBtn)"><span class="symbol-game" #block3></span></div>
    </div>
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block4, 'block4', finalMessage, restartBtn)"><span class="symbol-game" #block4></span></div>
      <div class="board-block" (click)="showSymbolGame(block5, 'block5', finalMessage, restartBtn)"><span class="symbol-game" #block5></span></div>
      <div class="board-block" (click)="showSymbolGame(block6, 'block6', finalMessage, restartBtn)"><span class="symbol-game" #block6></span></div>
    </div>
    <div class="board-line">
      <div class="board-block" (click)="showSymbolGame(block7, 'block7', finalMessage, restartBtn)"><span class="symbol-game" #block7></span></div>
      <div class="board-block" (click)="showSymbolGame(block8, 'block8', finalMessage, restartBtn)"><span class="symbol-game" #block8></span></div>
      <div class="board-block" (click)="showSymbolGame(block9, 'block9', finalMessage, restartBtn)"><span class="symbol-game" #block9></span></div>
    </div>
  </div>
  <span id="final-message" #finalMessage></span>
  <button id="restart-btn" #restartBtn (click)="restartGame()">Restart the game</button>
</div>